################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wscpp/v16
/Debug
/x64/Debug
/x64/Release
